<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Communicable Diseases</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/dropdown.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    
    <!-- test scripts for bar chart -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <style type="text/css">
        svg {
          font: 10px sans-serif;
          shape-rendering: crispEdges;
        }
      
        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
        }
       
        path.domain {
          stroke: none;
        }
       
        .y .tick line {
          stroke: #ddd;
        }
        </style>
    <!-- test scripts for bar chart -->

</head>
    <body>
        <div class="wrapper">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn" href="index.html"
                    style="font-family: 'Michroma', sans-serif;">Reports</button>
                <img class="nav-dis" src="static/images/Health Icon.gif">
                <div id="myDropdown" class="dropdown-content">
                    <a href="templates/R1.html">R1</a>
                    <a href="templates/R2.html">R2</a>
                    <a href="bargraph.html">Contageous Diseases Bar Graph</a>
                </div>
                <div class="hero text-center">
                    <h1
                        style="font-family: 'Michroma', sans-serif; text-shadow: 1px 1px 2px black, 0 0 25px whitesmoke, 0 0 5px rgb(200, 200, 212);">
                        Communicable Diseases</h1>
                    <p
                        style="color: rgb(224, 224, 238); text-shadow: 1px 1px 2px black, 0 0 25px whitesmoke, 0 0 5px rgb(200, 200, 212); font-size: 30px;">
                        Protect Yourself and Your Environment</p>
                </div>
    </body>
    
    <script src="static/js/appy.js"></script>
    <script src="static/js/js appy2.js"></script>
    <script src="static/js/barchart.js"></script>
</html>