<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Communicable Diseases</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/dropdown.css">

    <style type="text/css">
        svg {
            font: 10px sans-serif;
            shape-rendering: crispEdges;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
        }

        path.domain {
            stroke: none;
        }

        .y .tick line {
            stroke: #ddd;
        }
    </style>
    <!-- test scripts for bar chart -->

</head>

<body>
    <div class="wrapper">
         <!-- End of Navigation -->
         <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn" href="index.html"
                    style="font-family: 'Michroma', sans-serif;">Reports</button>
                <img class="nav-dis" src="static/images/Health Icon.gif">
                <div id="myDropdown" class="dropdown-content">
                    <a href="/top10peryear">Top Communicable Diseases</a>
                    <!-- <a href="/map">Communicable Diseases Map</a> -->
                    <a href="/barchart">Communicable Diseases by Year and County</a>
                    <a href="/filter_data">Data</a>
                </div>
            </div>
             <!-- End of Navigation -->

        <!-- DROP DOWN -->
        <div class="dropdown" id="yearDropDown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                Year
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" value="2009" onClick="doughnutChart(2009)">2009</a></li>
                <li><a href="#" value="2010" onClick="doughnutChart(2010)">2010</a></li>
                <li><a href="#" value="2011" onClick="doughnutChart(2011)">2011</a></li>
                <li><a href="#" value="2012" onClick="doughnutChart(2012)">2012</a></li>
                <li><a href="#" value="2013" onClick="doughnutChart(2013)">2013</a></li>
                <li><a href="#" value="2014" onClick="doughnutChart(2014)">2014</a></li>
                <li><a href="#" value="2015" onClick="doughnutChart(2015)">2015</a></li>
                <li><a href="#" value="2016" onClick="doughnutChart(2016)">2016</a></li>
                <li><a href="#" value="2017" onClick="doughnutChart(2017)">2017</a></li>
                <li><a href="#" value="2018" onClick="doughnutChart(2018)">2018</a></li>
            </ul>
        </div>
        <div class="dropdown" id="CountyDropDown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    Region
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#" value="Central" onClick="doughnutChart(Central)">Central</a></li>
                    <li><a href="#" value="Eastern" onClick="doughnutChart(Eastern)">Eastern</a></li>
                    <li><a href="#" value="Northern" onClick="doughnutChart(Northern)">Northern</a></li>
                    <li><a href="#" value="Northwestern" onClick="doughnutChart(Northwestern)">Northwestern</a></li>
                    <li><a href="#" value="Southwestern" onClick="doughnutChart(Southwestern)">Southwestern</a></li>
                </ul>
            </div>

        <!-- Graph Area -->
        <canvas id="myChart"></canvas>
        <!-- End Graph Area -->

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

    <!-- Install D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

    <!-- Install chartjs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"
        integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>

    <script src="static/js/js appy2.js"></script>
    <script src="static/js/barchart.js"></script>
</body>


</html>